@charset "UTF-8";

body{
	background: #151515;
}
.button{
	width: 200px;
	height: auto;
	margin: auto;
	padding: 5px;
	border-radius: 50px;
	color: black;
	background: #D8C34C;
}
.button:hover{
	transform: scale(1.2);
}

a{
	font-family: "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 2rem;
	color: #FF55E9;
	text-decoration: none;
	text-align: center;
	width: 100vw;
	height: 30vh;
}


.l-div{
	position: relative;
  	text-align: center;	
	max-height: 30vh;
	overflow: hidden;
	align-content: center;
}
.bg-img{
	display: block;
	opacity: 80%;
}
.bg-img:hover{
	opacity: 20%;
	transform: scale(1.2);
}

.c-text-ov-div{
	position: absolute;
	margin: 0px;
	padding: 20px;
	background: #000000 ;
	top: 50%;
	border-radius: 10px;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);;
}

.suprise-return{
	color: aliceblue;
	position: absolute;
	margin: 0px;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);;
}

.c-div{
	font-family: "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: #F0F0F0;
	display: flex;
	margin: auto;
	padding: 80px;
	flex-direction: column;
	text-align: center;
	max-width: 600px;
}

.cool-bg {

    background: linear-gradient(278deg, #3cffcd, #fbff3c, #3ca7ff, #633cff, #ff3ce6, #ff3c3c);
    background-size: 1200% 1200%;

    -webkit-animation: AnimatedGradient 19s ease infinite;
    -moz-animation: AnimatedGradient 19s ease infinite;
    animation: AnimatedGradient 19s ease infinite;
}

@-webkit-keyframes AnimatedGradient {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes AnimatedGradient {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes AnimatedGradient { 
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}